@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
h1 {
  font-family: 'Abril Fatface';
  text-align: center;
  font-size: 3.5em;
  margin: 25px;
}
 body {
    background-color: ghostwhite;
    font-family: 'Source Sans Pro';
    margin: 10em 15em;
  }
ul {
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 12px;
    display: flex;
    border: #ddd 1px solid;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
  }
  li a {
    text-decoration: none;
    text-align: center;
    display: inline;
    color: #26a7de;
    font-family: 'Roboto Slab';
    font-size: 0.8em;
    padding-left: 0.8em;
  }
  .newspaper-container {
    width: 700px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #ddd;
    padding: 10px;
    margin: auto;
    background-color: white;
  }
  h2 {
    font-family: 'Roboto Slab';
    color: #26a7de
    margin-bottom: 0.75em;
  }
li {
  justify-content: space-around;
  list-style: none;
  margin: auto;
  padding: 1em;
}
li a:hover {
  color: black;
  transition: ease-in-out;
}
main h4 {
  font-size: 1.5em;
  color: #26a7de
  font-family: 'Roboto Slab';
}
h5 {
  font-family: 'Abril Fatface';
  color: #DD3232;
  font-size: 0.8em;
}

main {
  border-bottom: #ddd 1px solid;
  margin: 2rem 1rem;
  padding: 0.25rem 0;
}
main>img {
  width: 100%;
  display: block;
}

.more-articles {
  display: flex;
  justify-content: space-around;
}
p {
  font-size: 1.2rem;
  padding: 0 0.7em;
  font-family: Source Sans Pro;
}